.titleBar {
    background: $purple;


    h1 {
        font-weight: 500;
        font-size: 3.4rem;
        color: #ffffff;
    }
}

.titleBar__subtitle {
    font-size: 1.7rem;
    font-weight: 400;
    color: #ffffff;
}